{% extends 'index.html' %}
{% block content %}
    <div class="w3-cell-row" align="center">
      <div class="w3-container w3-cell w3-mobile">
        <div class="w3-card">
          <h1 class="display-6 fw-bolder" style="margin-top: 25px;">Available NFTs:</h1>
          <div class="text-center">
            <img src="https://via.placeholder.com/200" class="rounded" style="margin: 25px" alt="...">
            <img src="https://via.placeholder.com/200" class="rounded" style="margin: 25px" alt="...">
            <img src="https://via.placeholder.com/200" class="rounded" style="margin: 25px" alt="...">
          </div>
          <button type="button" class="btn btn-secondary" id="mintPage">Mint New</button>
        </div>
      </div>
    </div>
    <div class="w3-cell-row" align="center">
      <div class="w3-container w3-cell w3-mobile">
        <div class="w3-card">
          <h1 class="display-6 fw-bolder">Available Display Nodes:</h1>
          <div class="text-center">
            <img src="https://via.placeholder.com/200" class="rounded" style="margin: 25px" alt="...">
            <img src="https://via.placeholder.com/200" class="rounded" style="margin: 25px" alt="...">
            <img src="https://via.placeholder.com/200" class="rounded" style="margin: 25px" alt="...">
          </div>
        </div>
      </div>
    </div>
{% endblock content %}

