<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>NFT Display</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <!-- Bootstrap icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="static/styles.css" rel="stylesheet"/>
  <script src="static/jquery-3.6.0.min.js"></script>
</head>
<body>
<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Display your NFTs</h1>
      <p class="lead fw-normal text-white-50 mb-0">Connect and load your NFTs to one of our many nodes</p>
    </div>
  </div>
</header>
<button id="metamask_login">Enable Ethereum</button>
  {% block content %}{% endblock %}
</body>
<script src="static/ethers-v4.min.js"></script>
<script src="static/app.js"></script>
</html>